@using AccesaChallengePortal.Models
@model ChallengeDetailModel
@{
    ViewBag.Title = "Challenge Detail";
}

<h2>@Model.Title</h2>

@Html.HiddenFor(m => m.Id)

<h3 style="width: 100%; float: left">Questions - @Html.ActionLink("Create", "Create", "Question", new {id = Model.Id},null)</h3>
<table class="table">
    @Html.EditorFor(m => m.Questions)
</table>
<div>
    @Html.ActionLink("Back to Challenges", "Start")
</div>